<!DOCTYPE html>
<html>
<head>
  <title>CrazyIndex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="nav-bar">
    <div >
      <h1>Personal Crazy Index</h1>
    </div>
  </header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
